<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>File Upload</title>
</head>
<body>
    <h1>Upload Image</h1>
    <form method="POST" action="/uploads" enctype="multipart/form-data">
        <p>Picture</p>
        <input type="file" name="picture" /> <br>
        <p>Filename: </p>
        <input type="text" name="filename" id="filename"><br>
        {{ csrfField() }}
        <button type="submit"> Submit </button>
    </form>
</body>
</html>